<header data-controller='usuarios-show'>
  <h5 class="text-left">Extrato por período</h5>
  <hr>
  <%= form_tag search_extrato_usuario_path, method: :get, id: 'form-filtro-extrato' do %>

  <div class="form-group">

    <label for="data_inicio">Data Início</label>
    <%= date_field_tag :data_inicio, 
      params[:data_inicio].present? ? l(params[:data_inicio].to_date) : nil,
      required: true,
      class: 'form-control', autocomplete: 'off',
      data: {
        target: 'usuarios-show.inputDataInicio',
        flatpickr_date_format: 'd/m/Y'
      }
    %>

  </div>

  <div class="form-group">

    <label for="data_fim">Data Fim</label>

    <%= date_field_tag :data_fim, 
      params[:data_fim].present? ? I18n.l(params[:data_fim].to_date) : nil, 
      class: 'form-control', autocomplete: 'off',
      required: true,
      data: {
        target: 'usuarios-show.inputDataFim',
        flatpickr_date_format: 'd/m/Y'
      }
    %>

  </div>

  <footer class="text-right">

    <%= submit_tag 'Pesquisar', class: 'btn btn-dark', data: {
      action: 'usuarios-show#filtrarExtrato'
    } %>

  </footer>

  <% end %>
</header>
