<div class="modal fade" id="modal-extrato" data-controller="usuarios-show">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header modal__header bg-dark">
        <h4 class="modal-title text-white"></h4>
      </div>

      <div class="modal-body modal__conteudo"></div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
