<div class="container">
  <br>
  <div class="float-left">
    <h1>
      <%= @usuario.nome %>
    </h1>
  </div>

  <div class="float-right">
    <h1>
      <%= @usuario.cpf_formatado %>
    </h1>
  </div>
</div>
