
<div class="modal fade" id="modal-carregando" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Por favor, aguarde...</h5>
      </div>

      <div class="modal-body">
        <p>Carregando...</p>
      </div>
    </div>
  </div>
</div>
