<div class="modal fade" id="modal-carregando" tabindex="-1" role="dialog" aria-labelledby="modalCarregandoLabel"
  aria-hidden="true" data-target="home.modalCarregando">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCarregandoLabel">Por favor, aguarde!</h5>
      </div>

      <div class="modal-body">
        <p>Carregando...</p>
      </div>
    </div>
  </div>
</div>
